{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar no site{% endblock %}

{% block content %}
<style class=" card-backgroung-image">  
    body  
    {  
    background-image:url("https://i.pinimg.com/originals/9a/60/66/9a60668103c6ea3044cf49e5a2995f11.png");  
    }  
</style>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no site</h4>

                <form method="post">
                    {% csrf_token %} 
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>

                <!-- <p class="change-form-p">Criar Conta <a href="/accounts/register">Clique Aqui</a></p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}