{% extends 'base.html' %}

{% block title %}Criar Pasta{% endblock %}

{% block content %} 
<div class="offset-1 col-10 list-div">
    <h1>Criar Pasta</h1>
    <a id="add-link" href="/doc/upload">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar 
        </div>
    </a>    
    <div class="col-9 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do documento para buscar" value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>
    <div class="col-12 filter-div">
        <span>Filtrar por</span>
        <select name="filter" id="filter" class="form-control">
            <option value="">Escolha uma opção</option>
            <option value="done">Documentos da Empresa</option>
            <option value="doing">Documentos por Assunto</option>
        </select>
    </div>
    {% if messages %} 
    <ul class="messages">
        {% for message in messages %} 
            <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="doc-list">
        {% for documento in documentos %}
        <li class="doc-item">
            <span><a href="/documento/{{documento.id}}">{{documento.title}}</a></span>
            <a href="/delete/{{documento.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
            <a href="/edit/{{documento.id}}"><span><i class="fas fa-edit"></i></span></a>
            <span><i class="fas fa-download"></i></span>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if documentos.has_previous %} 
                <a href="?page={{ documentos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if documentos.paginator.num_pages %} 
            <span class="current">
                {{ documentos.number }} de {{ documentos.paginator.num_pages }}
            </span>
            {% endif %}

            {% if documentos.has_next %} 
                <a href="?page={{ documentos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}