{% extends 'base.html' %}

{% block title %}Home do Site{% endblock %}

{% block content %} 
<div class="offset-1 col-10 list-div">
    <a href="/">
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>
    <h1>Itens</h1>
    <ul class="doc-list">
        {% for iten in itens %}
        <li class="doc-item">
            <span><a href="/media/pdfs/{{pdf.id}}">{{iten.title}}</a></span>
            <a href="/delete/{{iten.id}}" class="delete-btn"><span><i class="fas fa-times-circle"></i></span></a>
            <span><i class="fas fa-download"></i></span>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if itens.has_previous %} 
                <a href="?page={{ itens.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if itens.paginator.num_pages %} 
            <span class="current">
                {{ itens.number }} de {{ itens.paginator.num_pages }}
            </span>
            {% endif %}

            {% if itens.has_next %} 
                <a href="?page={{ itens.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}