{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Novo documento{% endblock %}

{% block content %} 
<div class="offset-1 col-10 list-div">
    <a href="/doc/">
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>
    <h1>Adicione o documento <i class="fas fa-upload"></i></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Finalizar e Salvar</button>
    </form>   
</div>
{% endblock %}