{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Adicione o Documento{% endblock %}

{% block content %} 
<div class="offset-1 col-10 doc-uplod">
    <a href="/">
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>
    <h1>Adicione o documento</h1>
    <form action="upload/" method="POST" class="dropzone dz" id="my-dropzone">
        {% csrf_token %}
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
    </form>    
</div>
{% endblock %}